{% for movie in movies %}
    {% if loop.first == true %}<ul>{% endif %}
    <li>
        <div class="row detail">
            <div class="col-3">
                <img src="{{ config.images.secure_base_url ~ 'w185' ~ movie.poster_path}}" class="img-fluid rounded" alt="{{ movie.title }}" />
            </div>
            <div class="col-9">
                <p class="title">
                    <h3 class="title d-inline">{{ movie.title }}</h3>
                    <div class="rating d-inline">
                        {% set score = (movie.vote_average / 2)|round %}
                        {% for i in 1..5 %}
                            <span class="fa fa-star {{ loop.index < score ? 'checked' : '' }}"></span>
                        {% endfor %}
                        <span class="rate">({{ movie.vote_count}} votes)</span>
                    </div>
                </p>
                <p><span>{{ movie.release_date | slice(0,4)}}</span></p>
                <p class="description">{{ movie.overview }}</p>
                <a href="#" class="btn btn-primary btn-lg float-md-right" role="button" data-toggle="modal" data-target="#detailModal" data-id="{{ movie.id }}" aria-pressed="true">Lire le details</a>
            </div>
        </div>
    </li>
    {% if loop.last == true %}<ul>{% endif %}
{% endfor %}